@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
:root{
    --black: #1c1c1c;
    --grey: #8e8e8e;
    --white: #d9d9d9;
    --blue: #95b8d1;
    --green: #c0fe04;
}
*{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: var(--black);
    color: var(--white);
}
#mimMainContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 17vmin;
    padding: 10% 0% 10% 10%;
    position: relative;
    z-index: 1;
    --s: 30px; /* control the size*/
    --c1: #252525;
    --c2: #1c1c1c;
    
    background:
        radial-gradient(36% 72% at 25% -50%,var(--c2) 98%,#0000)
        0 0/calc(2*var(--s)) var(--s),
        radial-gradient(36% 72% at 75% 150%,var(--c2) 98%,#0000)
        0 0/calc(2*var(--s)) var(--s),
        radial-gradient(72% 36% at 150% 25%,var(--c2) 98%,#0000)
        0 0/var(--s) calc(2*var(--s)),
        radial-gradient(72% 36% at -50% 75%,var(--c2) 98%,#0000)
        0 0/var(--s) calc(2*var(--s)),
        repeating-conic-gradient(var(--c2) 0 45deg,var(--c1) 0 25%)
        0 0/calc(2*var(--s)) calc(2*var(--s));
}
#putBinary{
    transition: .3s ease;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 20px 30px;
    color: #000;
    position: relative;
    z-index: 2;
}
#putBinary::before{
    content: '';
    position: absolute;
    left: -8vmin;
    top: calc(50% - 2vmin);
    display: block;
    width: 4vmin;
    height: 4vmin;
    background: inherit;
    transform: rotate(45deg);
}
#putBinary::after{
    content: '';
    position: absolute;
    left: -7.05vmin;
    top: calc(50% - 1vmin);
    display: block;
    border-radius: 50%;
    width: 2vmin;
    height: 2vmin;
    background: var(--black);
    transform: rotate(45deg);
}
.mimGreenBG{
    background: var(--green);
}
.mimBlueBG{
    background: var(--blue);
}
.mimBlackBG{
    background: var(--white);
}
